@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 135vh;
  width: 100%;
  background-color: aliceblue;
}
section {
  width: 400px;
  height: 135vh;
  background-color: white;
}

.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  background-color: #ffce33;
  font-size: 20px;
  font-weight: 500;
}
.header a {
  margin: 0 20px;
  font-size: 25px;
  color: black;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 25px;
}
form i {
  position: absolute;
  right: 10%;
  opacity: 0.5;
}

form input {
  width: 90%;
  border: none;
  padding: 18px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

form input::placeholder {
  opacity: 0.5;
}
form input:focus {
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
}

main .main-box1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-box1__title {
  font-family: "Roboto", sans-serif;
  display: flex;
  margin-left: 20px;
}

.main-box1__main {
  display: flex;
}

.main-box1-img img {
  width: 110px;
  border-radius: 5px;
  margin-left: 20px;
}
.main-box1-text {
  margin-left: 20px;
}
.main-box1__title__title {
  font-size: 18px;
  font-weight: 600;
}

.main-box1__title__title2 {
  padding-top: 5px;
  opacity: 0.5;
  font-size: 12px;
}
.main-box1__title__title3 {
  font-size: 10px;
  color: #ffce33;
  margin: 8px 0;
}
.main-box1__title__title3 i:last-child {
  color: lightgray;
}

.main-box1__title__author {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 20px;
  width: 100px;
}

.main-box1__title__author div {
  background-color: #f7f7f7;
  padding: 5px 12px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-box1__title__author div:first-child {
  margin-right: 10px;
}
.main-box1__title__last {
  font-family: "Roboto", sans-serif;
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.main-box1__title__last a {
  width: 35px;
  height: 35px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffce33;
}
.main-box1__title__last div {
  cursor: pointer;
  width: 100px;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  border-radius: 5px;
}
/* box2 */
.main-box2 {
  margin-top: 15px;
  margin-left: 20px;
  overflow-x: scroll;
}
.main-box2__img {
  display: flex;
}
.main-box2__img img {
  width: 80px;
  border-radius: 3px;
  margin-right: 23px;
}
.topad {
  display: flex;
  flex-direction: column;
}
.topad_star {
  padding-top: 15px;
  font-size: 1px;
  color: #ffce33;
}
.topad_star i:last-child {
  color: lightgray;
}

.main-box3 {
  margin-left: 20px;
}
.main-box3__main img {
  width: 150px;
  border-radius: 10px;
  margin-right: 20px;
}
.main-box3__main {
  display: flex;
}
.main-box3__text {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.main-box3__text div:first-child {
  margin-bottom: 10px;
}
.main-box3__text div:last-child {
  opacity: 0.3;
  font-size: 13px;
}
